{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

{% block navbar %}
<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link active" href="/">View Table</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/create">Create New Row</a>
    </li>
</ul>
{% endblock %}

{% block body %}
<h1 class="text-center">Students</h1>
    <div class="container">
        <form class="p-3" action="/search" method="POST">
            <div class="input-group">
                <input type="text" class="form-control" name="search">
                <button class="btn btn-outline-dark" type="submit" >Search</button>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheck">
                <label class="form-check-label" for="flexSwitchCheck">Advanced Search</label>
            </div>
        </form>
        <a href="/reset">
        <button class="btn btn-outline-danger" type="button">Reset</button>
        </a>
        <table class="table table-striped">
            <thead>
                <tr>
                    {% for x in range(listname|length) %}
                        <th scope="col">{{listname[x]}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for i in range(id|length) %}
                    <tr>
                        <th scope="row">{{id[i]}}</th>
                        <td>{{fname[i]}}</td>
                        <td>{{lname[i]}}</td>
                        <td>{{birth[i]}}</td>
                        <td>{{sex[i]}}</td>
                        <td>{{updated[i]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}